<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="" />
    <meta name="description" content="content">
    <meta name="keywords" content="Việt Nam">
    <title>
        <!-- build:title -->
    </title>
    <link type="image/x-icon" href="http://ssl.gstatic.com/docs/doclist/images/infinite_arrow_favicon_5.ico"
        rel="shortcut icon" />
    <link rel="stylesheet" href="css/fontAwesome/css/font-awesome.min.css" media="all" />
    <link rel="stylesheet" href="css/bootstrap.css" media="all" />
    <link rel="stylesheet" href="css/style.css" media="all" />
    <!-- build:head2 -->
    <!-- build:head -->
</head>

<body class="homepage">

    <div id="content" class="ldp-avafi clearfix">
        <section id="navbar" class="topnav">
            <div class="container">
                <div class="flex flex_row">
                    <h1 class="logo" title="new-ca">
                        <a href="#"><img src="images/graphics/Logo.svg" alt=""></a>
                    </h1>
                    <div class="right_menu">
                        <a href="javascript:;" id="vibeji-ham" class="item"><span></span> <span></span> <span></span></a>
                        <div class="flex flex_right">
                            <div class="main-menu">
                                <ul class="nav">
                                    <li class="active">
                                        <a href="home.html">Home</a>
                                    </li>
                                    <li>
                                        <a href="#">About us</a>
                                    </li>
                                    <li>
                                        <a href="#">Investment</a>
                                    </li>
                                    <li>
                                        <a href="#">Roadmap</a>
                                    </li>
                                </ul>
                            </div>
                            <a class="btn-default" href="#">go to dApp</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- build:content -->
        <!--Footer-->
        <footer class="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="grid grid__4">
                        <div class="td gap">
                            <div class="mb10"><a class="logo" href="#" title="#"><img src="images/graphics/Logo.svg" alt=""></a></div>
                            <h3 class="title">Stay in the loop and sign for AVIFI</h3>
                            <form class="form-send-mail">
                                <input type="search" class="" name="keyword" autocomplete="off" value="" placeholder="Enter your email">
                                <button type="submit" class="btn-default">Subscribes</button>
                            </form>
                        </div>
                        <div class="td">
                            <h3 class="title">Company</h3>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Investment</a></li>
                                <li><a href="#">Roadmap</a></li>
                            </ul>
                        </div>
                        <div class="td">
                            <h3 class="title">Documentation</h3>
                            <ul>
                                <li><a href="#">Help Center</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <div class="td">
                            <h3 class="title">Social</h3>
                            <div class="social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--End Footer-->
    </div>

    <div class="overlay-bg"></div>
    <!--Back to top-->
    <a href="javascript:;" id="to_top">
        <i class="fa fa-long-arrow-up"></i>
    </a>
    <!--Jquery lib-->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/aos.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <!-- build:script -->
    <!-- build:script2 -->

</body>

</html>